# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://nhanfullstackvippro_db_user:nhan2510@ac-f0kriqb-shard-00-00.z9jtgnz.mongodb.net:27017,ac-f0kriqb-shard-00-01.z9jtgnz.mongodb.net:27017,ac-f0kriqb-shard-00-02.z9jtgnz.mongodb.net:27017/?ssl=true&replicaSet=atlas-hxpm7z-shard-0&authSource=admin&appName=Cluster0

# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Frontend URL (cho CORS)
CLIENT_URL=http://localhost:3000

EMAIL_USER=lethanhloia9@gmail.com
EMAIL_PASS=mngbqcrgdvrxoepw

# Cloudinary
CLOUDINARY_CLOUD_NAME=dvx7odaf0
CLOUDINARY_API_KEY=119469513573785
CLOUDINARY_API_SECRET=FUN-oO2MU66S028m3iaW2d_9YHo

# VNPAY SANDBOX
VNPAY_TMN_CODE=F9WFL4WO
VNPAY_HASH_SECRET=PON0J7IX7XPUNY3SZOYL326RSAV77ZUX
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5000/api/v1/payment/vnpay-return
VNPAY_IPN_URL=http://localhost:5000/api/v1/payment/vnpay-ipn